# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.vite

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database & IDE
*.sqlite
*.db
.vscode
.idea
.DS_Store
