olmaliq.online {
    # Telegram Webhook
    handle /webhook {
        reverse_proxy bot:3001
    }

    # Fastify REST API Backend
    handle /api/* {
        reverse_proxy api:4000
    }

    # Web App Frontend
    handle /* {
        reverse_proxy webapp:80
    }

    encode gzip zstd
    log {
        output stdout
    }
}
